.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}



.rodape__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}

.rodape__img{
    width: 42px;
    height: 42px;
    
}
.rodape__navegacao {
    color: var(--branco);
    text-align: center;
    line-height: 3;
}


.rodape__link {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

/* pai */
.rodape__social {
    text-align: center;
    line-height: 3;
}

/* filhos */
.rodape_links_items{
    display: inline-block;
}