.cabecalho {
    color: #FFF;
}

.cabecalho__title {
    font-family: var(--hammersmith);
    font-size: 38px;
    font-weight: 400;
    line-height: 46.56px;
    letter-spacing: -0.015em;
    text-align: left;
}

.cabecalho__logo {
    border-radius: 50%;
    height: 474px;
    width: 474px;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}


.cabecalho__link img {
    width: 38.41px;
    height: 39.16px;
}

