.cabecalho {
    color: #FFF;
    container-type: inline-size;
}

.cabecalho__title {
    font-family: var(--hammersmith);
    font-size: 25px;
    font-weight: 400;
    line-height: 22.08px;
    letter-spacing: -0.015em;
    text-align: left;
}





.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}


.cabecalho__link img {
    width: 21.5px;
    aspect-ratio: 1/1;
 }

 
  @container (min-width: 700px) {
    .cabecalho__link img {
        width: 38.41px;
        height: 39.16px;
    }

    .cabecalho__title {
        font-size: 38px;
        line-height: 46.56px;
    }

  }
  