.chamada {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--azul-claro);
    text-align: center;
    padding-top: var(--section-v-pad);
    padding-bottom: var(--section-v-pad);
}

.chamada__content {
    container-type: inline-size;
    container-name: chamada-me;
}

.chamada__left {
    text-align: center !important;
}

.chamada__titulo {
    font-family: var(--hammersmith);
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.9px;
    letter-spacing: -0.015em;
    font-family: var(--epilogue);
}

.chamada__portrait {
    width: 40vw; 
    aspect-ratio: 1/1;
    margin-bottom: 30px;
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 10%;
    transition: all 1s ease-in-out;
}

.chamada__links img {
    width: 42px;
    height: 42px;
}



@keyframes morph {
    0% {
        border-radius: 10%;
    }

    50% {
        border-radius: 20% ;
    }

    100% {
        border-radius: 10% ;
    }
}



.chamada__botao {
    box-shadow: inset -1px -1px 6px -1px #97c4fe;
    background: linear-gradient(to bottom, #022A93 5%, #063FD0 100%);
    background-color: #022A93;
    border-radius: 18px;
    border: 1px solid #022A93;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #022A93;
    font-family: var(--epilogue);
    font-size: 20px;
    font-weight: 400;
    line-height: 35.9px;
    letter-spacing: -0.015em;

}

.chamada__botao:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.chamada__botao:active {
    position: relative;
    top: 1px;
}

.chamada__botao img {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}


@media screen and (min-width: 768px) {
    .chamada__texto {
        max-width: 900px;
    }

    .chamada__titulo {
        font-size: 2.375rem;
    }

    .chamada {
        padding-left: unset;
        padding-right: unset;
    }

}

@media screen and (min-width: 1024px) {
    .chamada {
        display: flex;
        flex-direction: row;
    }

    .chamada__portrait {
        margin-bottom: 0;
    }
}

@container chamada-me (min-width: 768px) {
    .chamada__left {
        text-align: left !important;
    }
}