.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre__conteudo{
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--hammersmith);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.sobre__texto {
    line-height: normal;
    font-family: var(--epilogue);
    margin-bottom: 1rem;
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-family: var(--epilogue);
    font-weight: 700;
}

.sobre__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.sobre__plataformas img {
    width: 5rem;
    height: 5rem;
}

.centro{
    
    display: flex;    
    justify-content:center;      
    align-items:center;  

}

.sobre__imagem{
    max-width: 450px;
    width: 90%;
}